[Desktop Entry]
Encoding=UTF-8
Name=cs229-notes1.dvi - cs229-notes1.pdf için bağ
Type=Link
URL=http://cs229.stanford.edu/notes/cs229-notes1.pdf
Icon=application-pdf
